 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Education</h2>
      <!--
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>    
      <i class="devicon-sass-original colored"></i>
     
      -->
      <img src="{{ "/assets/img/ku-icon.jpg" | prepend: site.baseurl }}"></img>
      <img src="{{ "/assets/img/snu-icon.jpg" | prepend: site.baseurl }} "></img>
      
     
      <p>[2012.03~2016.02] B.S. in Computer Science &amp; Engineering, <b>Korea University</b>. (National Science&amp;Technology Scholarship)<br>
     [2016.03~present] M.S. in Computer Science, <b>Seoul National University</b>. Social &amp; Computer Network Lab.<br>Advisor: Prof. Chong-Kwon Kim.</p>
    </div>
    <div class="tech">
      <h2>Development</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <!-- <i class="devicon-c-plain-wordmark colored"></i> -->
       <i class="devicon-java-plain-wordmark colored"></i> 
      <p><br>A lot of development experience using Python.<br>Several projects with C++.<br>Small projects using C, Java, and Android.</p>
    </div>
    <div class="tech">
      <h2>Research</h2>
      <img src="{{ "/assets/img/social-network-icon.png" | prepend: site.baseurl }}"></img>
      <img src="{{ "/assets/img/anomaly-icon.png" | prepend: site.baseurl }} "></img>
    
      
   <!--   <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>  -->
      <p>Research interest includes Social Network Analysis, Big Data Analysis, Anomaly Detection, and Review Spam Detection.<br>Now, I'm focusing on Users' Behavior against spammers in Online Review Platforms.</p>
    </div>
</div>
