 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Education</h2>
     <!--
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      -->
     <div clas="edu-icons">
      <img src="{{ "/assets/img/ku-icon.jpg" | prepend: site.baseurl }}"></img>
      </div>
      <p>[2012.03~2016.02] BS in Computer Science & Engineering, <b>Korea University</b>. National Science&Technology Full Scholarship. Major GPA: <i>3.78/4.5</i><br>
     [2016.03~present] MS in Computer Science, <b>Seoul National University</b>. Social & Network Lab.<br>Advisor: Prof.Chong-kwon Kim.</p>
    </div>
    <div class="tech">
      <h2>Dev Skill</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <i class="devicon-c-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <p>A lot of development experience using Python.<br>Several projects with C++, C, and Java.<br>Small projects with Android. </p>
    </div>
    <div class="tech">
      <h2>Research Interest</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
