<div class="user-details">
  <h1> Activities </h1>
</div>
<div class="user-activities">
 <!-- <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div> -->
  <div class="contents">
    <h3> Work Experience </h3>
    <ul>
      <li> NAVER Corp. Summer Internship ( 2015.07~2015.08 )</li>
    </ul>
    <p>네이버 검색개발센터 실시간트래픽품질 연구실 인턴 <br> Detect Web Spam <br> A little experience of Hadoop System </p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-activities">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
