<div class="user-details">
  <h1> CourseWork </h1>
</div>
<div class="user-actitivites">
  <div class="contents">
    <h3> Undergraduate Course (Major GPA: 3.78/4.5)</h3>
    <ul>
      <li> Artificial Intelligence</li>
    </ul>
    <p>Data Science, Artificial Intelligence, Machine Learning, Information Retrieval</p>
    <ul>
      <li>Mathmatics / Probability</li>
    </ul>
    <p>Probability and Random Process, Linear Algebra, Discrete Mathmatics, Engineering Mathmatics 1 </p>
    <ul>
      <li> Operating System</li>
    </ul>
    <p>Operating System, System Programming, Computer Systems, Compiler</p>
    <ul>
      <li> Network</li>
    </ul>
    <p>Computer Network, Internet Protocols</p>
    <ul>
      <li> Theory / Others</li>
    </ul>
    <p>Data Structure, Algorithms, Databases, Computer Graphics, Software Engineering, Computer Architecture, Theory of Computation, Logic Design and Experiments, Human Computer Interaction, Multimedia Programming, Object-Oriented Programming</p>
  </div>
</div>
<div class="user-activities">
  <div class="contents">
    <h3> Graduate Course </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
