<div class="user-details">
  <h1> CourseWork </h1>
</div>
<div class="user-actitivites">
  <div class="contents">
    <h3> Undergraduate Course (Major GPA: 3.78/4.5)</h3>
    <ul>
      <li><b>Artificial Intelligence</b></li>
    </ul>
    <p>Data Science, Artificial Intelligence, Machine Learning, Information Retrieval</p>
    <ul>
      <li><b>Mathmatics / Probability</b></li>
    </ul>
    <p>Probability and Random Process, Linear Algebra, Discrete Mathmatics, Engineering Mathmatics 1 </p>
    <ul>
      <li><b>Operating System</b></li>
    </ul>
    <p>Operating System, System Programming, Computer Systems, Compiler</p>
    <ul>
      <li><b>Network</b></li>
    </ul>
    <p>Computer Network, Internet Protocols</p>
    <ul>
      <li><b>Theory / Others</b></li>
    </ul>
    <p>Data Structure, Algorithms, Databases, Computer Graphics, Software Engineering, Computer Architecture, Theory of Computation, Logic Design and Experiments, Human Computer Interaction, Multimedia Programming, Object-Oriented Programming</p>
  </div>
</div>
<div class="user-activities">
  <div class="contents">
    <h3> Graduate Course (Major GPA: 3.78/4.3) </h3>
    <p>Introduction to Data Analysis, Information Visualization and Visual Analytics, Genetic Algoritm, Topics in Internet, Topics in Computer Networks, Topics in Computer Applications </p>
  </div>
</div>
