<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> #Preference Shooting </h3>
    <ul>
      <li> python</li>
    </ul>
    <p>Will Marvel fans love Nike too?<br>If Nike wants to collaborate with a Movie, which Movie should they choose to make a big profit?<br>More generally, Is there a relationship between one's brand preference and music/movie tastes? <br>We actually don't know! However, we thought that choosing or deciding something reflects one's tastes unconsciously.<br>So, we checked it using Machine Learning.<br>This project and the result would be useful for a brand or movie/music marketers.<br>Check it out our YouTube and Github!</p>
    <a class="project-link" href="https://youtu.be/rPOJF1KttCI">YouTube</a>
    <a class="project-link" href="https://github.com/jihyun300/DataScienceProject">Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://youtu.be/rPOJF1KttCI">Check it out</a>
  </div>
</div>
