<div class="user-details">
  <h1> Selected Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/preference.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> #Preference_Shooting </h3>
    <p>Will MARVEL fans love NIKE too?<br>Which movie should NIKE choose to collaborate for a big profit?<br>More generally, <b>Is there a relationship between one's brand preference and music/movie tastes?</b><br>We actually don't know! However, we thought that choosing or deciding something reflects one's tastes unconsciously.<br>So, we checked it using Machine Learning.We crawled data, trained classifier, and found out a brand suited one’s taste.<br>Check it out our YouTube and Github!</p>
    <a class="project-link" href="https://youtu.be/rPOJF1KttCI">YouTube</a>
    <a class="project-link" href="https://github.com/jihyun300/DataScienceProject">Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/speech-recognizer.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Speech Recognizer </h3>
    <p>Implement Continuous Speech Recognizer! I construct <b>GMM-HMM model</b> and find answer using <b>Viterbi algorithm</b>. Please check my Github!</p>
    <a class="project-link" href="https://github.com/jihyun300/Speech-Recognizer">Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="QA" src="{{ "/assets/img/QA.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Question Answering System </h3>
    <p>Implement Knowledge based QA system! We implemented <b>natural language processing</b> module to understand humans' natural questions and also implemented question normalization module to request for answer. We utilize Stanford CoreNLP, Freebase, and so on. Check more details on my Github.</p>    
    <a class="project-link" href="https://github.com/jihyun300/Question-Answering-System">Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="IR" src="{{ "/assets/img/IR.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Information Retrieval System </h3>
    <p>Retrieve relevant news articles to a query! I used 600MB news articles and implemented from stemming to tuning my <b>search engine</b>. I implemented traditional TF-IDF algorithm, Vector Space model and also BM25.</p>
    <a class="project-link" href="https://github.com/jihyun300/Information-Retrieval-System">Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="anytimeanywhere" src="{{ "/assets/img/anytime.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> AnytimeAnywhere </h3>
    <p>AnytimeAnywhere is a music recommendation service by smartly detecting mood and situation of a user.<br>Do you know that your <b>walking pace</b> shows your mood? We got an idea from this motivation.<br>We recommend and play a music by your walking pace, weather, and time. You don't need any other controls. Just click play button and feel your mood now.</p>
    <a class="project-link" href="https://github.com/jihyun300/Music-Recommender-Application">Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="trading" src="{{ "/assets/img/trading.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Automatic Trading System </h3>
    <p>Build actual trading system which maximize the asset return! I trained stream of tick data of 15 companies and find pattern/ signal which cause increase or decrease of stock price. And then, I build actual trading program. If the pattern appears(matchs), I made a transaction(buy or sell).<br>Did I lose assets, or get it? Check it on my Github!</p>
    <a class="project-link" href="https://github.com/jihyun300/Automatic-Trading-System">Github</a>
  </div>
</div>
