<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/preference.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> #Preference_Shooting </h3>
    <p>Will MARVEL fans love NIKE too?<br>Which movie should NIKE choose to collaborate for a big profit?<br>More generally, <b>Is there a relationship between one's brand preference and music/movie tastes?</b><br>We actually don't know! However, we thought that choosing or deciding something reflects one's tastes unconsciously.<br>So, we checked it using Machine Learning.We crawled data, trained classifier, and found out a brand suited one’s taste.<br>Check it out our YouTube and Github!</p>
    <a class="project-link" href="https://youtu.be/rPOJF1KttCI">YouTube</a>
    <a class="project-link" href="https://github.com/jihyun300/DataScienceProject">Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/speech-recognizer.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Speech Recognizer </h3>
    <p>Implement Continuous Speech Recognizer! I construct <b>GMM-HMM model</b> and find answer using <b>Viterbi algorithm</b>. I didn't use any libraries and implemented them all by myself. Please check my Github!</p>
    <a class="project-link" href="https://github.com/jihyun300/Speech-Recognizer">Github</a>
  </div>
</div>
